@CHARSET "utf-8";
body {
	padding:0px;
	margin:0px;
	text-align: left;
	font-family:'微软雅黑',Trebuchet MS,Verdana,Helvetica,Arial,sans-serif;
	background-color: #f9f9f9;
}

.ichartjs_top{
	height:50px;
	margin:5px;
	background-color: #0d506c;
}
.ichartjs_logo{
	margin-left:5px;
	cursor:pointer;
	height:50px;
	width:200px;
	float:left;
	background:url(ichart_ipa_logo.png);
	background-repeat:no-repeat;
}

#ichartjs_join_us{
	float: right;
	margin-right:20px;
	height:50px;
	line-height:50px;
}

#ichartjs_join_us:LINK{
	color:#f9f9f9;
	text-decoration: none;
}
#ichartjs_join_us:VISITED{
	color:#f9f9f9;
}
#ichartjs_join_us:HOVER{
	color:#f1f1f1;
	text-decoration:underline;
}
#ichartjs_join_us:ACTIVE{
	color:#f0f0f0;
}
.ichartjs_api{
	cursor:pointer;
	height:50px;
	line-height:60px;
	font-size:14px;
	font-weight:600;
	color:#f9f9f9;
	float:left;
}
.ichartjs_code{
	color:#286a86;
}

.ichartjs_font_green{
	color:green;
	font-size:20px;
	font-weight: 600;
}
.ichartjs_even{
	background-color: #f9fbff;
}
.ichartjs_odd{
	background-color: #ffffff;
}
.ichartjs_radius5{
	border:1px solid #dfdfdf;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px
}
.ichartjs_radius2{
	background-color: #f1f1f1;
	-webkit-box-shadow:0px 0px 2px #536278;
	-moz-box-shadow:0px 0px 2px #536278;
	box-shadow:0px 0px 2px #536278;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px
}
.ichartjs_p_5{
	padding:10px;
}
.ichartjs_p_10{
	padding:10px;
}
.ichartjs_m_5{
	margin:10px;
}
.ichartjs_m_10{
	margin:10px;
}
.ichartjs_color{
	color:#286a86;
	background-color: #f3f3f3;
}
.ichartjs_inline{
	display:inline-block;
}
.ichartjs_left{
	float: left;
}
.ichartjs_right{
	text-align:right;
}
.ichartjs_stress{
	font-weight:600;
	font-size:13px;
}
.ichartjs_page{
	padding:5px;	
	text-align:left;
}
.ichartjs_pl_10{
	text-align:left;
	padding-left:10px;
}
.ichartjs_pl_20{
	text-align:left;
	padding-left:20px;
}
.ichartjs_h_25{
	line-height:25px;
}
.ichartjs_h_18{
	height:18px;
	line-height:18px;
}
ul{
	margin:0px;
	padding:0px;
	padding-left:15px;
}

.ichartjs_font_600{
	color:#0d506c;
	font-weight:600;
}

.ichartjs_indent{
	width:18px;
	height:18px;
	float: left;
	position: relative;
}
.ichartjs_tree{
	width:9px;
	height:9px;
	position: absolute;
	top: 0px;
	right: 0px;
	border-left:1px dashed #567d8d;
	border-bottom:1px dashed #567d8d;
}

.ichartjs_title{
	color:#0d506c;
	font-size:15px;
	font-weight:600;
	height:25px;
	line-height:25px;
	z-index:999;
}

.ichartjs_class{
	font-size:24px;
	font-weight:600;
	color:#006100;
}

.ichartjs_overview{
	padding:5px;
	text-align:left;
}

.ichartjs_overview_content{
	margin-top:6px;
	padding:5px;
	color:#0d506c;
	font-size:13px;
	text-align:left;
	z-index:99;
	background-color: #f9f9f9;
	border:1px solid #f4f4f4; 
}

.ichartjs_table{
	width: 100%;
	margin-top:6px;
	color:#00364d;
	font-size:13px;
	padding:5px;
	margin-bottom:10px;
	border: 1px solid #999999;
	border-collapse:collapse;
}
.ichartjs_table_header{
	background-color: #eeeeee;
}
.ichartjs_table_parameter{
	width:180px;
}
.ichartjs_table_type{
	width:100px;
}
.ichartjs_table_definedBy{
	width:100px;
	padding-right:20px;
	text-align: right;
}

.ichartjs_table th{
	padding:5px 10px;
	font-size:13px;
	height:24px;
	color:#00364d;
	line-height:24px;
	white-space:nowrap;
	word-break:keep-all;
	font-weight:600;
	border: 1px solid #999999;
}
.ichartjs_table td{
	padding:5px 10px;
	border: 1px solid #999999;
}
.ichartjs_reference_table{
	width: 100%;
	height:100%;
	margin-top:6px;
	color:#00364d;
	font-size:13px;
	padding:5px;
	margin-bottom:10px;
	border-collapse:collapse;
}

.ichartjs_reference{
	margin-top:6px;
	padding:5px;
	font-size:13px;
	background-color: #f9f9f9;
	border:1px solid #f4f4f4; 
}
#ichartjs_menu{
	margin-top:6px;
	height:600px;
	background-color: #f9f9f9;
	border:1px solid #f4f4f4; 
	overflow:auto;
}
.ichartjs_reference_item{
	padding:0px 5px;
	height:25px;
	font-size:12px;
	line-height:25px;
}

.ichartjs_home{
	margin-top:6px;
	height:30px;
	padding:0px 10px;
	line-height:30px;
	font-size:13px;
	font-weight:600;
	color: #FEFEFE;
	background-color: #0d506c;
	cursor:pointer;
}
.ichartjs_home a{
	float:right;
}
.ichartjs_menu{
	height:30px;
	padding-left:10px;
	line-height:30px;
	font-size:13px;
	font-weight:600;
	color:#095688;
	cursor:pointer;
	background-color:#dfe6e4;
	border-bottom: 1px solid #dddddd;
}
.ichartjs_anchor{
	margin:0px 10px;
	font-size:12px;
	line-height:25px;
	text-decoration:underline;
	float: left;
}

.ichartjs_home a:LINK{
	color:#FEFEFE;
	text-decoration: none;
}
.ichartjs_home a:VISITED{
	color:#FEFEFE;
}
.ichartjs_home a:HOVER{
	color:#d9e8ec;
	text-decoration:underline;
}
.ichartjs_home a:ACTIVE{
	color:#d9e8ec;
}	
	
a:LINK{
	color:#095688;
	text-decoration: none;
}
a:VISITED{
	color:#095688;
}
a:HOVER{
	color:#238bcf;
	text-decoration:underline;
}
a:ACTIVE{
	color:#238bcf;
}

#ichart-info-what{
	padding:0px 20px;
	height:50px;
	color:#154b79;
	font-size:42px;
	line-height:50px;
	font-weight:500;
	text-shadow:0px 1px 1px #043c53;
}
.ichart-content-desc{
	color:#303030;
	padding:0px 20px;
	text-indent: 20px;
	line-height: 24px;
}

#ichart-footer{
	width:1000px;
	height:90px;
	line-height:90px;
	text-align:center;
	font-size:12px;
	margin:0px auto;
	background:url(../images/ichart_footer_bg.png);
	background-repeat:repeat-x;	
}


